[default]
SYNTHEA_DIR=/knacc2_local/synthea
SYNTHEA_RDF_DIR=/knacc2_local/jclavin/synthea-rdf
MODEL_PATH=/knacc2_local/jclavin/synthea-rdf/synthea_ontology/synthea_ontology.ttl
DEST_PATH=/knacc2_local/jclavin/hie/apps/hie/priv/data
SYNTHETIC_DATA_GENERATOR_DIR=/knacc2_local/jclavin/hie-synthetic-data
CSV_DIR_SMALL_SAMPLE=/knacc2_local/synthea/output_small_sample/csv
CSV_DIR_DUKE=/knacc2_local/synthea/output_duke/csv
CSV_DIR_HOPKINS=/knacc2_local/synthea/output_hopkins/csv
CSV_DIR_K_STATE=/knacc2_local/synthea/output_k_state/csv
CSV_DIR_UCSF=/knacc2_local/synthea/output_ucsf/csv
CSV_DIR_UNIV_MD=/knacc2_local/synthea/output_univ_md/csv
CSV_DIR_WAKE_FOREST=/knacc2_local/synthea/output_wake_forest/csv